body {
  font-family: 'Roboto', sans-serif;
  background-color: #dffff1;
}

.jumbotron {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #468092;
}

table {
  border-color: #4a5969;
  border-style: solid;
  background-color: #c5fffe;
  color: #4f4f4f;
}

thead {
  vertical-align: middle;
  font-family: 'Space Grotesk', sans-serif;
  border-color: #4a5969;
  border-style: solid;
  font-size: 14px;
  font-style: bold;
}

tbody {
  border-color: #4a5969;
  border-style: solid;
  font-size: 12px;
}

label {
  font-family: 'Space Grotesk', sans-serif;
  color: #4f4f4f;
  font-size: 16px;
  margin: 10px;
}

.btn {
  margin: 10px;
}

.form-group {
  display: inline-flex;
}
